
<!-- Content -->
<div class="container">

    <div class="alert alert-danger" role="alert" *ngIf="errorMessage">
        {{ errorMessage }}
     </div>

    <!-- SG Information -->
    <div class="row mb-3">
        <div class="cstm-info">
            <span>SECURITY GROUP INFORMATION</span>
        </div>

        <!-- SG Type -->
        <label class="form-label">* Select Type:</label>
        <div class="d-inline-flex mb-3 col-12">
            <div class="form-check me-3">
                <input type="radio" class="form-check-input" name="rbType" id="internalType" [disabled]="!isAdd" [checked]="currentSGInfo.type === 0" (change)="changeTypeValue(0)"/>
                <label class="form-check-label" for="internalType"> Internal Security Group </label>
            </div>
            <div class="form-check">
                <input type="radio" class="form-check-input" name="rbType" id="externalType" [disabled]="!isAdd" [checked]="currentSGInfo.type === 1" (change)="changeTypeValue(1)"/>
                <label class="form-check-label" for="externalType"> External Security Group </label>
            </div>
        </div>

        <!-- SG Display Name Layer -->
        <label class="form-label">Security Group Display Name:</label>
        <div class="d-inline-flex mb-3 col-12">
            <input type="text" class="form-control me-2" id="txtDisplayName1" name="displayName" (change)="changeDisplayNameValue()">
            <input type="text" class="form-control me-2" id="txtDisplayName2" name="displayName" (change)="changeDisplayNameValue()">
            <input type="text" class="form-control me-2" id="txtDisplayName3" name="displayName" (change)="changeDisplayNameValue()">
            <input type="text" class="form-control"      id="txtDisplayName4" name="displayName" (change)="changeDisplayNameValue()">
        </div>

        <!-- SG Display Name -->
        <div class="mb-3 col-6">
            <label class="form-label">* Display Name:</label>
            <input type="text" id="txtDisplayName" readonly
                [ngClass]="errorFields.length !== 0 && errorFields[0]['inputSG.DisplayName'] ? 'form-control is-invalid' : 'form-control'" 
                [(ngModel)]="currentSGInfo.displayName">
            <!-- Error Message -->
            <div class="invalid-feedback" *ngIf="errorFields.length !== 0 && errorFields[0]['inputSG.DisplayName']">
                {{ errorFields[0]["inputSG.DisplayName"][0] }}
            </div>      
        </div>

        <!-- SG Alias Name -->
        <div class="mb-3 col-6">
            <label class="form-label">* Alias Name:</label>
            <input type="text" id="txtAliasName" disabled
                [ngClass]="errorFields.length !== 0 && errorFields[0]['inputSG.AliasName'] ? 'form-control is-invalid' : 'form-control'" 
                [(ngModel)]="currentSGInfo.aliasName">
            <!-- Error Message -->
            <div class="invalid-feedback" *ngIf="errorFields.length !== 0 && errorFields[0]['inputSG.AliasName']">
                {{ errorFields[0]['inputSG.AliasName'][0] }}
            </div>
        </div>
    </div>
    
    <!-- SG Email Addresses -->
    <div class="row mb-3">
        <div class="cstm-info">
            <span>EMAIL ADDRESSES</span>
        </div>
        
        <!-- Primary Mail Address Selection -->
        <div class="mb-3 col-12">
            <label class="form-label">* Select Primary Mail Address:</label>
            <select class="form-select" id="selPrimaryMailAddress" 
                    [ngClass]="errorFields.length !== 0 && errorFields[0]['inputSG.PrimaryMailAddress'] ? 'form-control is-invalid' : 'form-control'" 
                    [(ngModel)]="currentSGInfo.primaryMailAddress">
                <option *ngFor="let mail of mailAddresses" [value]="mail">
                    {{mail}}
                </option>
            </select>
            <!-- Error Message -->
            <div class="invalid-feedback" *ngIf="errorFields.length !== 0 && errorFields[0]['inputSG.PrimaryMailAddress']">
                {{ errorFields[0]['inputSG.PrimaryMailAddress'][0] }}
            </div> 
        </div>

        <!-- IDM Mail Address -->
        <div class="mb-3 col-8">
            <label class="form-label">* IDM Mail Address:</label>
            <input type="text" id="txtIDMMailAddress" name="mailaddress"
                [ngClass]="errorFields.length !== 0 && errorFields[0]['inputSG.IDMMailAddress'] ? 'form-control is-invalid' : 'form-control'" 
                [(ngModel)]="currentSGInfo.idmMailAddress"
                (change)="populatePrimaryMailSelection()">
            <!-- Error Message -->
            <div class="invalid-feedback" *ngIf="errorFields.length !== 0 && errorFields[0]['inputSG.IDMMailAddress']">
                {{ errorFields[0]['inputSG.IDMMailAddress'][0] }}
            </div> 
        </div>
        <!-- IDM Mail Address Domain -->
        <div class="mb-3 col-4">
            <label class="form-label">Domain:</label>
            <input type="text" class="form-control" value="@idm.com" disabled >
        </div>

        <!-- Regional Mail Address -->
        <div class="mb-3 col-8">
            <label class="form-label">* Regional Mail Address:</label>
            <input type="text" id="txtRegionalMailAddress" name="mailaddress"
                [ngClass]="errorFields.length !== 0 && errorFields[0]['inputSG.RegionalMailAddress'] ? 'form-control is-invalid' : 'form-control'" 
                [(ngModel)]="currentSGInfo.regionalMailAddress"
                (change)="populatePrimaryMailSelection()">
            <!-- Error Message -->
            <div class="invalid-feedback" *ngIf="errorFields.length !== 0 && errorFields[0]['inputSG.RegionalMailAddress']">
                {{ errorFields[0]['inputSG.RegionalMailAddress'][0] }}
            </div> 
        </div>
        <!-- Regional Mail Address Domain -->
        <div class="mb-3 col-4">
            <label class="form-label">Domain:</label>
            <input type="text" class="form-control" value="@ph.idm.com" disabled >
        </div>

        <!-- Company Mail Address 1 -->
        <div class="mb-3 col-6">
            <label class="form-label">Company Mail Address 1:</label>
            <input type="text" id="txtCompanyMailAddress1" name="mailaddress"
                [ngClass]="errorFields.length !== 0 && errorFields[0]['inputSG.CompanyMailAddress1'] ? 'form-control is-invalid' : 'form-control'" 
                [(ngModel)]="currentSGInfo.companyMailAddress1"
                (change)="populatePrimaryMailSelection()">
            <!-- Error Message -->
            <div class="invalid-feedback" *ngIf="errorFields.length !== 0 && errorFields[0]['inputSG.CompanyMailAddress1']">
                {{ errorFields[0]['inputSG.CompanyMailAddress1'][0] }}
            </div> 
        </div>
        <!-- Company Mail Address 2 -->
        <div class="mb-3 col-6">
            <label class="form-label">Company Mail Address 2:</label>
            <input type="text" id="txtCompanyMailAddress2" name="mailaddress"
                [ngClass]="errorFields.length !== 0 && errorFields[0]['inputSG.CompanyMailAddress2'] ? 'form-control is-invalid' : 'form-control'" 
                [(ngModel)]="currentSGInfo.companyMailAddress2"
                (change)="populatePrimaryMailSelection()">
            <!-- Error Message -->
            <div class="invalid-feedback" *ngIf="errorFields.length !== 0 && errorFields[0]['inputSG.CompanyMailAddress2']">
                {{ errorFields[0]['inputSG.CompanyMailAddress2'][0] }}
            </div> 
        </div>
    </div>

    <div class="row mb-3">
        <div class="cstm-info">
            <span>OWNER INFORMATION</span>
        </div>
    </div>

    <!-- Save Button -->
    <div class="row mb-2">
        <div class="col-12">
            <button type="button" class="btn btn-primary"
            (click)="saveSG()">
                Save Security Group
            </button>
        </div>
    </div>
</div>