
<!-- Content -->
<div class="container">

    <div class="alert alert-danger" role="alert" *ngIf="errorMessage">
        {{ errorMessage }}
    </div>

    <!-- SG Information -->
    <div class="row mb-3">
        <div class="cstm-info">
            <span>SECURITY GROUP INFORMATION</span>
        </div>

        <!-- SG Type -->
        <label class="form-label">* Select Type:</label>
        <div class="d-inline-flex mb-3 col-12">
            <div class="form-check me-3">
                <input type="radio" class="form-check-input" name="rbType" id="internalType" [disabled]="!isAdd" [checked]="currentSGInfo.type === 0" (change)="changeTypeValue(0)"/>
                <label class="form-check-label" for="internalType"> Internal Security Group </label>
            </div>
            <div class="form-check">
                <input type="radio" class="form-check-input" name="rbType" id="externalType" [disabled]="!isAdd" [checked]="currentSGInfo.type === 1" (change)="changeTypeValue(1)"/>
                <label class="form-check-label" for="externalType"> External Security Group </label>
            </div>
        </div>

        <!-- SG Display Name Layer -->
        <label class="form-label">Security Group Display Name:</label>
        <div class="d-inline-flex mb-3 col-12">
            <input type="text" class="form-control me-2" id="txtDisplayName1" name="displayName" (change)="changeDisplayNameValue()">
            <input type="text" class="form-control me-2" id="txtDisplayName2" name="displayName" (change)="changeDisplayNameValue()">
            <input type="text" class="form-control me-2" id="txtDisplayName3" name="displayName" (change)="changeDisplayNameValue()">
            <input type="text" class="form-control"      id="txtDisplayName4" name="displayName" (change)="changeDisplayNameValue()">
        </div>

        <!-- SG Display Name -->
        <div class="mb-3 col-6">
            <label class="form-label">* Display Name:</label>
            <input type="text" id="txtDisplayName" readonly
                [ngClass]="errorFields.length !== 0 && errorFields[0]['inputSG.DisplayName'] ? 'form-control is-invalid' : 'form-control'" 
                [(ngModel)]="currentSGInfo.displayName">
            <!-- Error Message -->
            <div class="invalid-feedback" *ngIf="errorFields.length !== 0 && errorFields[0]['inputSG.DisplayName']">
                {{ errorFields[0]["inputSG.DisplayName"][0] }}
            </div>      
        </div>

        <!-- SG Alias Name -->
        <div class="mb-3 col-6">
            <label class="form-label">* Alias Name:</label>
            <input type="text" id="txtAliasName" disabled
                [ngClass]="errorFields.length !== 0 && errorFields[0]['inputSG.AliasName'] ? 'form-control is-invalid' : 'form-control'" 
                [(ngModel)]="currentSGInfo.aliasName">
            <!-- Error Message -->
            <div class="invalid-feedback" *ngIf="errorFields.length !== 0 && errorFields[0]['inputSG.AliasName']">
                {{ errorFields[0]['inputSG.AliasName'][0] }}
            </div>
        </div>
    </div>
    
    <!-- SG Email Addresses -->
    <div class="row mb-3">
        <div class="cstm-info">
            <span>EMAIL ADDRESSES</span>
        </div>
    </div>

    <div class="row mb-3">
        <div class="cstm-info">
            <span>OWNER INFORMATION</span>
        </div>
    </div>

    <!-- Save Button -->
    <div class="row mb-2">
        <div class="col-12">
            <button type="button" class="btn btn-primary"
            (click)="saveSG()">
                Save Security Group
            </button>
        </div>
    </div>
</div>