@page "/securitygroup/list"
@inject ISecurityGroupService _group

<Loader Show="@showLoader"></Loader>

<Title Icon="bi bi-collection"
       Name="Security Group(s)"
       Description="This page you can view all the SG(s) that's belong to you." />
       
<Table DataSource="sgList" TItem="SecurityGroupDTO" ColumnCount="11">
    <Columns>
        <Column Name="AliasName"           Label="Alias Name"/>
        <Column Name="DisplayName"         Label="Display Name" />
        <Column Name="PrimaryEmailAddress" Label="Email Address" />
        <Column Name="OwnerName"           Label="Owner" />
        <Column Name="Admin1Name"          Label="Admin 1" />
        <Column Name="Admin2Name"          Label="Admin 2" />
        <Column Name="Admin2Name"          Label="Admin 3" />
        <Column Name="TypeDescription"     Label="Type" />
        <Column Name="StatusDescription"   Label="Status" />
        <Column Name="CreatedDate"         Label="Created Date" />
        <Column Name="ModifiedDate"        Label="Modified Date" />
        <Column Name="Action"              Label="Action">
            <button title="Edit">
                <i class="bi bi-pencil"></i>
            </button>
        </Column>
    </Columns>
</Table>

@code {
    private List<SecurityGroupDTO> sgList { get; set; }
    private bool showLoader { get; set; }

    protected override async Task OnInitializedAsync()
    {
        showLoader = true;
        ////Delay Process for .5 second
        await Task.Delay(Constants.DELAY_PROCESS);
        await PopulateSGsAsync();
        showLoader = false;
    }

    private async Task PopulateSGsAsync(){

        var result = await _group.GetSGsAsync();

        if (result != null)
            sgList = result.ToList();
    }
}
