<!-- Add and Edit Security Group Modal -->
<ng-template #content let-c="close" let-d="dismiss">
	<div class="modal-header">
		<h5 class="modal-title" id="modal-basic-title">{{ modalTitle }}</h5>
		<button type="button" class="btn-close" aria-label="Close" (click)="closeModal()"></button>
	</div>
	<div class="modal-body">
        <app-add-edit-sg [id]="internalID" *ngIf="internalID"></app-add-edit-sg>
	</div>
</ng-template>

<!-- Content -->
<div class="container-fluid">  

    <!-- Page Title -->
    <div class="row mb-3">
        Security Group List
    </div>
    
    <div class="cstm-actions row mb-3">
        <button type="button" class="cstm-btn primary" data-bs-toggle="modal" data-bs-target="#sgModal" (click)="addSG(content)">Add SG</button>
    </div>

    <!-- Security Group List -->
    <div class="row">
        <table class="cstm-table">
            <thead>
                <tr>
                    <th>Alias Name</th>
                    <th>Display Name</th>
                    <th>Owner</th>
                    <th>Admin 1</th>
                    <th>Admin 2</th>
                    <th>Admin 3</th>
                    <th class="text-center">Type</th>
                    <th class="text-center">Status</th>
                    <th class="text-center">Created Date</th>
                    <th class="text-center">Modified Date</th>
                    <th class="text-center">Action</th>
                </tr>
            </thead>

            <tbody>
                <tr *ngIf="sgList === undefined">
                    <td class="text-center" colspan="11">
                        Loading....
                    </td>   
                </tr>
                <tr *ngIf="sgList?.length === 0">
                    <td class="text-center" colspan="11">
                        No record found in database.
                    </td>
                </tr>
                <tr *ngFor="let sg of sgList">
                    <td>{{ sg.aliasName }}</td>
                    <td>{{ sg.displayName }}</td>
                    <td>{{ sg.ownerName }}</td> 
                    <td>{{ sg.admin1Name }}</td> 
                    <td>{{ sg.admin2Name }}</td> 
                    <td>{{ sg.admin3Name }}</td> 
                    <td class="text-center">
                        <span class="cstm-badge sgtype-{{ sg.type }}">
                            {{ sg.typeDescription }}
                        </span>
                    </td>
                    <td class="text-center">
                        <span class="cstm-badge status-{{ sg.status }}">
                            {{ sg.statusDescription }}
                        </span>
                    </td>
                    <td class="text-center">{{ sg.createdDate | date: "MM-dd-YYYY" }}</td> 
                    <td class="text-center">{{ sg.modifiedDate | date: "MM-dd-YYYY" }}</td> 
                    
                    <!-- Action Buttons -->
                    <td class="text-center">
                        <button type="button" class="cstm-btn primary" data-bs-toggle="modal" data-bs-target="#sgModal" (click)="editSG(content, sg.internalID)">Edit</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>