<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">IDM.Web-Blazor</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <NavButton Icon="bi bi-collection" Text="Dashboard" Page="" />
        <label class="category">TRANSACTION</label>
        <NavButton Icon="oi oi-bar-chart" Text="Sales" Page="Sales" />
        <NavButton Icon="oi oi-spreadsheet" Text="Inventory" Page="Inventory" />
        <label class="category">MASTER DATA</label>
        <NavButton Icon="oi oi-cart" Text="Product" Page="Product" />
        <NavButton Icon="oi oi-tag" Text="Brand" Page="Brand" />
        <NavButton Icon="oi oi-target" Text="Category" Page="Category" />
        <label class="category">SETTING</label>
        <NavButton Icon="oi oi-person" Text="User" Page="User" />
        <NavButton Icon="oi oi-project" Text="Role" Page="Role" />
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
