html {
    position: relative;
    min-height: 100%;
    font-size: 14px;
}

body {
    margin-bottom: 60px;
}

.cstm-mng-header {
    color: #2d3436;
    border-bottom: 1px dashed gainsboro;
    padding-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
}

.cstm-mng-button {
    display: block;
    width: 100%;
    color: #2d3436;
    text-align: center;
    text-decoration: none;
    border: 1px solid #2d3436;
    border-radius: 7px;
    margin-top: 20px;
    padding: 10px;
    font-size: 14px;
}

    .cstm-mng-button svg {
        width: 100%;
        margin-bottom: 10px;
    }

    .cstm-mng-button:hover {
        background-color: rgba(45, 52, 54,.9);
        color: white;
    }


.cstm-table {
    width: 100%;
    color: #2d3436;
}

    .cstm-table th {
        color: gray;
        text-transform: uppercase;
        font-size: 12px;
        border-bottom: 1px solid gainsboro;
    }

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}
